# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl.backup


# Python
__pycache__/
*.py[cod]
.venv/
venv/
hash*
backend/functions/finalize_upload/build/PIL/*
backend/functions/finalize_upload/build/pillow*
backend/functions/finalize_upload/build/PIL/_pillow*

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Secrets
.env
.env.*
*.pem
*.key


*.zip